body{
    background-color: #eee;
}

.ceng{
    width: 300px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #bfbfbf;
    background-color: white;
    box-shadow: 2px 2px 3px #aaa;
}

.ceng img{
    width: 290px;
}

.rotate_left{
    float: left;    
    -webkit-transform: rotate(7deg);    
            transform: rotate(7deg);
}

.rotate_right{
    float: left;
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
}