.rect{
    width: 100px;
    height: 100px;
    position: fixed;
    background-color: red;
    animation: mymove 2s infinite;
}
/* @keyframes mymove{
    from { top:0;left: 20%; }
    to { top:0;left: 80%; }
} */
@keyframes mymove{
    0% { top:0;left: 20%; background-color: red;}
    25% { top:0;left: 80%; background-color:orange;}
    50% { top:80%;left: 80%; background-color: yellow;}
    75% { top:80%;left: 20%; background-color: green;}
    100% { top: 0; left: 20%; background-color: blue; }
}